@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex justify-content-center">REGRAS</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form>
            <font color="Black" face="Arial" size="5">
                <p><a>NÃO TEM REGRAS :3</a></p>
            </font>
        </form>
    </div>
</div>