@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <font size="100" ,color="#000000">
        <h1>SEJA BEM VINDO AO RPG MAKER</h1>
    </font>
    <p><a class="text-dark">Este site foi construido com a intenção de facilitar a criação e o controle do seu RPG de mesa.</a>.</p>
</div>

